### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
player_info_df = purchase_data_df.loc[:, ["SN", "Age", "Gender"]]
player_info_df.head(20)

               SN  Age                 Gender
0         Lisim78   20                   Male
1     Lisovynya38   40                   Male
2      Ithergue48   24                   Male
3   Chamassasya86   24                   Male
4       Iskosia90   23                   Male
5         Yalae81   22                   Male
6       Itheria73   36                   Male
7     Iskjaskst81   20                   Male
8       Undjask33   22                   Male
9     Chanosian48   35  Other / Non-Disclosed
10      Inguron55   23                   Male
11   Haisrisuir60   23                   Male
12   Saelaephos52   21                   Male
13    Assjaskan73   22                   Male
14    Saesrideu94   35                   Male
15      Lisassa64   21                 Female
16      Lisirra25   20                   Male
17      Zontibe81   21                   Male
18      Reunasu60   22                 Female
19      Chamalo71   30                   Male

In [4]:
player_info_df=player_info_df.drop_duplicates()
player_info_df.head(20)
number_of_players = player_info_df.count()
number_of_players

SN        576
Age       576
Gender    576
dtype: int64

In [5]:
no_of_records1 = purchase_data_df['Gender'].count()
no_of_records1

780

In [6]:
new_purchase_data_df = purchase_data_df.drop_duplicates()
new_purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [7]:
no_of_records2 = new_purchase_data_df['Gender'].count()
no_of_records2

780

In [8]:
purchase_data_df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
# Need .loc method
# Need .drop_duplicates()
# .count()
#number of players keeping in mind that a player may have more than one purchase
#list_of_unique_players = pd.unique(purchase_data_df['SN']).count()
list_of_unique_players = pd.unique(purchase_data_df['SN'])
list_of_unique_players

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [10]:
#player count
player_count = len(list_of_unique_players)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
list_of_unique_items = pd.unique(purchase_data_df['Item Name'])
list_of_unique_items

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [12]:
unique_item_count = len(list_of_unique_items)
unique_item_count

179

In [13]:
average_price = round (purchase_data_df['Price'].mean(), 2)
average_price

3.05

In [14]:
#total number of purchases
total_number_purchases = purchase_data_df['Purchase ID'].count()
total_number_purchases

780

In [15]:
#total revenue
total_revenue = round (purchase_data_df['Price'].sum(), 2)
total_revenue

2379.77

In [16]:
#summary data frame to hold the results
summary_data = {'Unique item count': [unique_item_count], 'Average price':[average_price]}

summary_data_frame = pd.DataFrame(summary_data, columns =['Unique item count', 'Average price'])
summary_data_frame.head()

   Unique item count  Average price
0                179           3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
reduced_data_df = purchase_data_df.loc[:, ["SN", "Gender", "Age"]].drop_duplicates()
reduced_data_df.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [18]:

count_gender = reduced_data_df['Gender'].value_counts()
print (count_gender)

percent_gender = (count_gender/player_count)*100
print (percent_gender)

gender_demographics = pd.DataFrame({"Count":count_gender, "Percentage":percent_gender.round(2)})
gender_demographics

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

                       Count  Percentage
Male                     484       84.03
Female                    81       14.06
Other / Non-Disclosed     11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
gender_groups = purchase_data_df.groupby(['Gender']).count()
gender_groups.head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [20]:
gender_groups = purchase_data_df.groupby(['Gender']).Price.mean()
gender_groups.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
#summary data frame to hold the results
summary_data2 = {'Purchase count': [purchase_count], 'Average purchase price':[average_purchase_price]}

summary_data_frame2 = pd.DataFrame(summary_data, columns =['Purchase count', 'Average purchase price'])
summary_data_frame2.head()

NameError: name 'purchase_count' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
#create bins
bins = [0, 9,14, 19, 24, 29, 34,40,150]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", ">40"]
reduced_data_df['Age buckets'] = pd.cut(reduced_data_df['Age'], bins, labels=bin_labels)
reduced_data_df.head()

              SN Gender  Age Age buckets
0        Lisim78   Male   20       20-24
1    Lisovynya38   Male   40       35-40
2     Ithergue48   Male   24       20-24
3  Chamassasya86   Male   24       20-24
4      Iskosia90   Male   23       20-24

In [25]:
counts=reduced_data_df['Age buckets'].value_counts()
percents=(counts/player_count)*100
print(counts)
print(percents)

20-24    258
15-19    107
25-29     77
30-34     52
35-40     36
10-14     22
<10       17
>40        7
Name: Age buckets, dtype: int64
20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-40     6.250000
10-14     3.819444
<10       2.951389
>40       1.215278
Name: Age buckets, dtype: float64

In [26]:
age_demographics_df = pd.DataFrame({"Counts":counts, "Percentages":percents.round(2)})
age_demographics_df.sort_index()

       Counts  Percentages
<10        17         2.95
10-14      22         3.82
15-19     107        18.58
20-24     258        44.79
25-29      77        13.37
30-34      52         9.03
35-40      36         6.25
>40         7         1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame